footer {
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
}

.carre1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(#311b92, rgb(81, 37, 122));
  padding-left: 200px;
  height: 200px;
}

.blockA {
  margin-bottom: 20px;
}

.block1 {
  display: flex;
  flex-direction: column;
}

.block2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 200px;
}

.blockB {
  display: flex;
  flex-direction: row;
}

.elem1 {
  margin-left: 5px;
  margin-right: 5px;
}

.elem2 {
  margin-left: 5px;
  margin-right: 5px;
}

.elem3 {
  margin-left: 5px;
  margin-right: 5px;
}

.elem4 {
  margin-left: 5px;
  margin-right: 5px;
}

.blockD {
  border-radius: 30px;
}

.carre2 {
  background-color: rgb(81, 37, 122);
  display: flex;
  flex-direction: row;
  padding-left: 200px;
  height: 250px;
  padding-top: 100px;
}

.block5 {
  position: absolute;
  right: 130px;
}

.block4 {
  margin-left: 550px;
}

.skurt {
  padding-bottom: 20px;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

.elem5 {
  padding-right: 10px;
}

.elem6 {
  padding-left: 10px;
  padding-right: 10px;
}

div a {
  text-decoration: none;
  color: rgb(189, 192, 198);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div a:hover {
  color: #ffd740;
  text-decoration: underline;
}
